* {
	font-family: 'JetBrains Mono', serif;
}
.searchContainer {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	background-color: #fff;
	padding: 25px 30px 0 20px;
	box-sizing: border-box;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center input {
	width: 80%;
	height: 50px;
	border: 1px solid grey;
	border-radius: 5px 0 0 5px;
	font-size: 18px;
	padding: 10px;
	border-right: 0;
	outline: none;
}

.icon {
	outline: none;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border: 1px solid grey;
	border-left: 0;
	border-right: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&:last-child {
		border-right: 1px solid grey;
		border-radius: 0 5px 5px 0;
	}
}

.searchCards {
	display: flex;
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid grey;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.26);
	box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.26);
}

.searchCards .img {
	border-radius: 20px 0 0 20px;
	min-width: 180px;
	height: 150px;
}

.searchCards div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 100%;
}

.searchCards div h1 {
	font-size: 15px;
	color: black;
	text-align: center;
}

.searchContainer h1 {
	text-align: center;
	color: gray;
}
